*{
    margin: 0;
    padding: 0;

}
.box1{
 width:100%;
 height: 500px;
 background-color: crimson;
 position:absolute;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-top: calc(500px - 275px);
    margin-left: calc(100% - 10%);
}