*{
    margin: 0;
    padding: 0;

}
img{
    width: 250px;
    position: absolute;
    top: 55px;
    right: 0;
}
p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}
body{
    padding: 10px;
}
.para{
    width: 80%;
}